openweather:
  api_key: PUT_OPENWEATHER_API_KEY

api:
  units: "metric"
  exclude: "minutely,alerts"

cities:
  - Toronto
  - Vancouver
  - Montreal
  - Ottawa
  - Calgary

azure_sql:
  # logical server name OR full FQDN both okay
  server:   PUT_AZURE_SQL_SERVER
  database: PUT_AZURE_SQL_DATABASE
  username: PUT_AZURE_SQL_USERNAME
  password: PUT_AZURE_SQL_PASSWORD